
@{
    ViewBag.Title = "ForgotPassword";
}

<section>
    <div class="text-center">
        <h2>ForgotPassword</h2>

        <div class="main">
            <div class="header">
                <hr />
                <h4>Enter your email address to reset your password</h4>
            </div>

            <div class="main-content">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" class="form-input" placeholder="Enter your email address" />


                <button class="button" onclick="passwordForgot()">Submit</button>

                <div class="clearfix"></div>

                <div class="message" id="forget-password-message" style="display: none;"></div>
            </div>
        </div>
    </div>
</section>
<div id="forgot_url" style="display:none" data-request-url="@Url.Action("ForgotPassword", "Home")"></div>
@section Scripts {

    <script src="~/resources/js/forgetPasss.js"></script>
}