
@{
    ViewBag.Title = "IncomeYears";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

    var enrId = Session["EnrollID"];

}


<style>
    .form-group input {
        text-align: right;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Assessment Information</h1>

        </div>
    </div>

    <div class="row">

        <div class="col-lg-12">

            <div class="panel panel-default">

                <div id="assessment_container">

                    @*<div class="payee_assessment">
                            <div class="panel-body">

                                <div class="form-horizontal row">

                                    <div class="form-group col-md-6">

                                        <div style="padding-left:15px; display:flex;">

                                            <label>EnrollmentID:</label>
                                            <div class="col-sm-10">

                                                <span id="EnrollId"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div>

                                        <div class="form-group col-md-6" style="display:flex; justify-content:flex-end;">

                                            <label>First Name:</label>
                                            <div class="col-sm-10">
                                                <label class="form-control firstname"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">

                                <div class="panel-heading" style="text-align:center !important">

                                    Assesment Details
                                </div>
                                <div class="panel-body">

                                    <div class="col-lg-6">

                                        <div role="form">

                                            <div class="form-group">

                                                <label>Total Income :</label>
                                                <label id="txtincome"></label>
                                            </div>
                                            <div class="form-group">

                                                <label>20% Gross Income: </label>
                                                <label id="txtgrossincome"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                        <div role="form">

                                            <div class="form-group">

                                                <label>Total FPA: </label>
                                                <label id="txttotalpfa"></label>
                                            </div>
                                            <div class="form-group">

                                                <label>Consolidated Allowance: </label>
                                                <label></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">

                                        <div class="form-group">

                                            <label>Taxable Income: </label>
                                            <label></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>

    </div>



    <div class="text-center">
        <button class="btn btn-primary btn-lg" id="makepayment" type="button">Make Payment</button>
    </div>



</div>


<div id="assessmentload" style="display:none" data-request-url="@Url.Action("AssessmentDetailsTaxPayee", "Assessment")"></div>
<div id="makePaymenturl" style="display:none" data-request-url="@Url.Action("MakeSalaryPayment", "Assessment")"></div>



@section Scripts {
    <script src="~/resources/js/assessment_payee.js"></script>
}